:root {
    --main-red: #F52B18;
    --main-blue: #1001F5;
    --main-yellow: #F5D218;
    --main-green: #1BF77E;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {

}