:root {
    --main-red: #F52B18;
    --main-blue: #1001F5;
    --main-yellow: #F5D218;
    --main-green: #1BF77E;
    --main-bg-color: #252525;
    --main-grey: #2f2f2f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    cursor: none;
}

body {
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
    flex-direction: column;
    display: flex;
}

/* global rules */


h1 {
    color: #fff;
    font-size: 4em;
}

h2 {
    color: #fff;
}

h3 {
    color: #fff;
}

h4 {
    color: #fff;
}

h5 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

a {
    text-decoration: none;
    cursor: none;
}

p {
    color: #fff;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
}


.outlined {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    font-size: 6em;
}

.sub-p {
    color: #888888;
}

.cursor {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 42px;
    height: 50px;
    width: 50px;
    z-index: 199;
    pointer-events: none;
    border: #fff 4px solid;
    transition: border-width 0.5s;
   

}

.cursor-message {
    pointer-events: none;
    font-size: 2em;
    color: #fff;
    display: none;
    font-family: monospace;
    animation: 1.4s infinite sizetransform;
}

@keyframes sizetransform {
    0% {
        font-size: 1.8em;
    }

    50% {
        font-size: 2em;
    }

    100% {
        font-size: 1.8em;
    }

}

/* nav */

nav {
    width: 100%;
    height: 70px;
    padding: 20px;
    position: fixed;
    display: flex;
    z-index: 50;
    justify-content: space-between;
}

nav > img {
    scale: 1.6;
}

/* hamburger menu  */

.burger-container {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
}

.top-bun,
.bottom-bun {
    width: 60px;
    height: 10px;
    background-color: #d9d9d9;
}

.bottom-bun {
    width: 40px;
}

/* expandended nav */

.nav-expand {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 50;
    padding: 50px;
    backdrop-filter: blur(8px);
}

.nav-item {
    font-style: italic;
    font-weight: 100;
}

.nav-item:hover {
    font-style: normal;
    font-weight: 300;
}

.left-bar-red {
    border-left: 10px solid var(--main-red);
}

.left-bar-blue {
    border-left: 10px solid var(--main-blue);
}

.left-bar-green {
    border-left: 10px solid var(--main-green);
}

.left-bar-yellow {
    border-left: 10px solid var(--main-yellow);
}

/* index.html */

.red-header-text {
    font-size: 1.4em;
    color: var(--main-grey);
    transition: all 2s;
}

.white-header-text {
    color: var(--main-grey);
}

.header-text-container,
.boxes-container {
    height: 100%;
    width: 50%;
    display: flex;
}

.header-text-container {
    align-items: center;
    justify-content: center;
}

.short-intro {
    height: 100vh;
    width: 100%;
}

/* boxes */

.boxes {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(8px);
}

.box:hover {
    border-radius: 10px;
}

.b5 {
    background-color: var(--main-blue)!important;
}

.b5 > h1 {
    transform: scaleX(0.5) scaleY(1);
    scale: 2;
    padding: 5px;
}

.box:hover>a>h1 {
    font-weight: 400;
}

.box-title {
    font-weight: 100;
    font-size: 3em;
    display: none;
}

/* motivation */

.motivation {
    height: 100%;
    display: none;
    justify-content: center;
}

.motivation > img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 40px;
    padding-left: 10px;
}

.motivation > div {
    width: 300px;
}

.motivation > p {
    width: 300px;
}

.motivation > div > ul > li {
    color: #fff;
    padding-top: 5px;
}


/* dashboard.html */

.main-dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

aside {
    position: absolute;
    bottom: 0;
    width: 200px;
    background-color: #f3f3f3;
    height: calc(100% - 70px);
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.4s;
    transform: translate(180px);
}

.aside-menu-text {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    color: #000;
    background-color: var(--main-yellow);
    display: flex;
    align-items: flex-end;
    padding: 15px 0;
    
}

main > aside:hover {
    transform: translate(0px);
}

aside > div {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 15px;
}

aside > div > a {
    color: #000;
    text-decoration: underline;
}
aside > div > a:hover {
    color: var(--main-blue);
}

aside > div > h3 {
    color: #000;
    font-size: 1.4em;
    box-shadow: 5px 5px #888888;
    background-color: var(--main-yellow);
}

.collapse-aside {
    margin: 10px;
    height: 26px;
    background-color: var(--main-yellow);
    border: none;
    transition: all 0.1s;
}

.collapse-aside:hover {
    box-shadow: 5px 5px #888888;
}

table {
    width: 90%;
    height: 60%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

th {
    text-align: start;
    background-color: var(--main-yellow);
}

table thead tr {
    background-color: var(--main-yellow);

    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 10px 12px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--main-yellow);
}

.progressbar {
    width: 90%;
    height: 60px;
    border: #fff 2px solid;
    padding: 5px;
    
}

.need-more-ec {
    font-size: 1em;
    font-weight: bold;
}



/* play.html */

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.typing-line {
    border-left: 1px solid white;
    color: #fff;
    height: 3rem;
    display: flex;
    overflow: hidden;
    width: 50%;
    float: right;
    user-select: none;
}

.trailing-line {
    height: 3rem;
    display: flex;
    overflow: hidden;
    width: 50%;
    float: left;
    justify-content: flex-end;
    user-select: none;
}

span {
    font-size: 40px;
    border: 1px solid transparent;
}

.wpm {
    color: #d9d9d9;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 4rem;
}


/* profile.html */

.content>p {
    padding-top: 20px;
    color: #fff;
    max-width: 400px;
}

.container {
    display: flex;
    align-items: flex-end;
}

.steve-jobs-image {
    width: 200px;
    height: 160px;
    box-shadow: 10px 10px #888888;
}

.my-characteristics > ul > li {
    max-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ececec;
}

/* faq */

.faq-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.q-a>p {
    padding: 10px;
}

.q-a>p>a {
    font-weight: bold;

    color: #F5D218;
}

/* blog*/

.blog-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.blog-card {
    display: flex;
    gap: 10px;
    width: 500px;
    justify-content: space-between;
}

.blog-card > div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.blog-card > img {
    width: 100px;
    height: 107px;
    object-fit: cover;
}

/* blog posts */

.spacer {
    width: 20%;
}

.blog-post-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.more-from-the-author {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.more-from-the-author > .blog-container > a > div > div {
    gap: 2px;
}

.more-from-the-author > .blog-container > a > div > div > h2 {
    font-weight: 400;
}

.blog-author {
    color: #888;
    padding-bottom: 10px;
}

.blog-image {
    object-fit: cover;
    width: 500px;
    height: 250px;
}

.blog-content {
    padding-top: 30px;
    max-width: 500px;
}